.buttonContainer{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}
.buttonContainer div{
    margin: 7px;
}

.enrollButton{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    color: antiquewhite;

}