.container{
    background-color: azure;
}
.course_container{
    /* background-color: aqua; */
color: rgb(217, 222, 183);
margin: 0.5rem auto 0 auto;
width: 75%;

}

.buttonContainer{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}
.buttonContainer div{
    margin: 7px;
}

.enrollButton{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    color: antiquewhite;

}